body {
    background-color: #da7b7b;
    /* Cambia este valor al color que desees */
}
.page_container {
    background-color: #b6b4b4;
    width: 1235px;
    border-radius: 8px;
    padding: 20px;
    border: solid;
    /* Cambia este valor al color que desees */
}
.tittle_food {
    font-size: 22px;
    color: #da7b7b;
    text-align: left;
    text-shadow: 1px 1px 0px #000;
}
.paragraph{
    font-size: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.main_title{
    font-size: 85px;
    /* Tamaño grande del texto */
    color: #333;
    /* Centrar el título */
    text-align: center;
    text-shadow: 1px 1px 0px #000;
}
.section_title{
    font-size: 30px;
    /* Tamaño grande del texto */
    color: #333;
    /* Color del texto */
    text-align: left;
    /* Centrar el título */
    border-bottom: 2px solid #333;
}
.footer_title{
    font-size: 12px;
    /* Tamaño grande del texto */
    color: #212121;
    /* Color del texto */
    text-align: left;
    /* Centrar el título */
}
.lists{
    font-size: 20px;
}
.list_number{
    font-size: 20px;
}
.images{
    text-align: center; /* Centra horizontalmente el contenido */
}

img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Aplica una sombra con desplazamiento horizontal y vertical */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centra horizontalmente la imagen en el contenedor */
}